/* ! VARIABLES */
:root {
    /* Google fonts */
    --font-blue: "Rouge Script", cursive;
    --font-green: "Cookie", cursive;
    --font-purple: "Neuton", serif;;
    /* Color Palette */
    --color-bg: #fff9f2 ; 
    --color-text: olive; 
    --color-frames: #62572b;
}

html {
    font-size: 100%; /* Default size: 16px */
}

body {
    font-size: 1.875rem; /* 1.4 x 16px = 22.4px */
    font-family: var(--font-green); /* Majority of text will have the gr font applied */
    color: var(--color-text);
    background-color: var(--color-bg);
    line-height: 1.25;
    text-align: center;
}

main {
    padding: 1.25rem;
}

#playerContainer {
    position: fixed;
    right: 1.25rem;
    top: 5rem;
    z-index: 1;
}

#audioPlayer {
    border: 0.125rem solid black;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgba(128, 128, 0, 0.500);
    cursor: pointer;
}

/* ! Blue font element */
h1 {
    font-family: var(--font-blue);
}

#countdownContainer {
    border: 0.125rem solid var(--color-frames);
    border-radius: 10px;
    padding: 0.3125rem;
    margin: 1.25rem 0.3125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


#countdownTimer {
    font-family: var(--font-purple);
    color: #62572b;
}

h1, h2 {
    padding-bottom: 0.6rem;
    opacity: 0; /* Start hidden */
    transform: translateX(-3.125rem); /* Start off-screen to the left */
    animation: slide-in 1s ease-out forwards; /* Animation details */
}

img {
    border-radius: 0.3125rem;
}

#whenCont {
    margin-bottom: 3.125rem;
}

#where1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.625rem;
    align-items: center;
}

#where2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    align-items: center;

}

#gateImage, #mapImage {
    width: 37.5rem;
}

a {
    text-decoration: underline;
    transition: ease-in-out 0.3s; 
}

a:hover {
    font-size: 110%;
    color: blue;
}

fieldset {
    border: 0.125rem solid var(--color-frames);
    border-radius: 0.625rem;
    padding: 0.3125rem;
    margin: 1.25rem 0.3125rem;
}

#dressCodeSection{
    margin-bottom: 3.125rem;
}

#dressCodeCont{
    display: flex;
    justify-content: center;
}

#dreesCodeImg {
    width: 18.75rem;
}

button {
    border: 0.125rem solid var(--color-frames);
    background-color: red;
    padding: 0.3125rem;
    border-radius: 0.3125rem;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.3s; 
}

button:hover {
    transform: scale(1.1);
    background-color: green;
}

footer {
    background-color: #869197;
    color: var(--color-bg);
    font-family: var(--font-purple);
    font-size: 50%;
    padding: 1.875rem;
    margin-top: 1.875rem;
}


/* keyframes for h1 */
@keyframes slide-in {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
  